@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", sans-serif;
}

.sticky-tabs {
  position: sticky;
  top: 0;
  z-index: 40;
  backdrop-filter: blur(8px);
}